{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/base/art/show.css">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-8">
            <div id="left">
                <div class="row">
                    <div id="img_div">
                        <div class="col-xs-3">
                            <img src="/static/media/{{ art.icon }}"
                                 width="120" height="144">
                        </div>
                    </div>
                    <div class="col-xs-9 text-left">

                        <h4 style="display: inline-block">{{ art.n_title }}</h4>
                        <span style="margin-left: 60px"> {{ art.author }} 著</span>
                        <ul id="tag_ul">
                            {% for tag in art.tags.all %}
                                <li class="tag">{{ tag.name }}</li>
                            {% endfor %}
                            <li class="cate">
                                {{ art.category.parent.title }}
                            </li>
                            <li class="cate">
                                {{ art.category.title }}
                            </li>
                        </ul>
                        <div style="margin: 5px 0">
                            <span>{{ art.intro }}</span>
                        </div>
                        <div>
                            <a class="btn btn-sm btn-default">阅读</a>
                            <a class="btn btn-sm btn-info">加入书架</a>
                            <a class="btn  btn-sm btn-danger">投票</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-4">
            <div id="right">
                <h4>周排行</h4>
                <ul>
                    {% for rankArt in rank_arts %}
                        <li><span {% if forloop.counter <= 3 %}
                            class="no{{ forloop.counter }}" {% endif %}>
                        {{ forloop.counter }}</span>{{ rankArt }}</li>

{#                        <li><span {% if forloop.counter <= 3 %}#}
{#                            class="no{{ forloop.counter }}" {% endif %}>#}
{#                            {{ forloop.counter }}</span>{{ rankArt.n_title }}</li>#}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
{% endblock %}